@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (!Request.IsAuthenticated)
    {
        @Html.Partial($"Partials/_Home")
    }
    else
    {
        <div class="text-center">
            <div class="alert alert-success">
                <h1>You are logged in</h1>
            </div>
            @using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="submit" value="Go to admin panel" class="btn btn btn-primary" />
            }
        </div>
    }
</div>

