@model string

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add rule</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tr>
                <td>
                    <label for="friendlyName-addField">Friendly name</label>
                    <input type="text" class="form-control" id="friendlyName-addField" placeholder="eg. sister tablet" />
                </td>

                <td>
                    <label for="src_mac-addField">Source mac</label>
                    <input type="text" class="form-control" id="src_mac-addField" placeholder="eg. 6C:5F:1C:9E:F5:53,6C:5F:1C:9E:F5:53"/>
                </td>

                <td>
                    <label for="src_ip-addField">Source ip</label>
                    <input type="text" class="form-control" id="src_ip-addField" placeholder="eg. 192.168.1.101,192.168.1.102"/>
                </td>

                <td>
                    <label for="src_port-addField">Source port</label>
                    <input type="text" class="form-control" id="src_port-addField" placeholder="eg. 22,1300-1400"/>
                </td>

                <td>
                    <label for="dest_ip-addField">Destination IP</label>
                    <input type="text" class="form-control" id="dest_ip-addField" placeholder="eg. 192.168.1.101,192.168.1.102"/>
                </td>

                <td>
                    <label for="dest_port-addField">Destination port</label>
                    <input type="text" class="form-control" id="dest_port-addField" placeholder="eg. 22,1300-1400"/>
                </td>

                <td>
                    <label for="active-addField">Enabled</label>
                    <select class="form-control" id="active-addField">
                        <option value="1" selected>True</option>
                        <option value="0">False</option>
                    </select>
                </td>
                <td>
                    <button id="addRule-btn" class="btn btn-success">Add</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default col-md-12" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#addRule-btn").click(function () {
            const objectToSend = {
                RouterName: '@Model',
                FriendlyName: $('#friendlyName-addField').val(),
                Src_mac: $('#src_mac-addField').val(),
                Src_ip: $('#src_ip-addField').val(),
                Src_port: $('#src_port-addField').val(),
                Dest_ip: $('#dest_ip-addField').val(),
                Dest_port: $('#dest_port-addField').val(),
                Enabled: $('#active-addField').val()
            };

            if (objectToSend.FriendlyName.length === 0) {
                alert("You have to type rule name");
                return;
            }

            if (objectToSend.Src_mac.length === 0 &&
                objectToSend.Src_ip.length === 0 &&
                objectToSend.Src_port.length === 0 &&
                objectToSend.Dest_ip.length === 0 &&
                objectToSend.Dest_port.length === 0) {
                alert("You have to type at least one condition");
                return;
            }

            //validation function
            
            $.ajax({
                type: "POST",
                url: "/Admin/AddRule",
                data: objectToSend,
                cache: false,
                success: function (result) {
                    if (rulesList.items.length === 0) {
                        location.reload();
                    }

                    if (result.status) {
                        rulesList.add({
                            ruleName: result.ruleName,
                            friendlyName: objectToSend.FriendlyName,
                            src_mac: objectToSend.Src_mac,
                            src_ip: objectToSend.Src_ip,
                            src_port: objectToSend.Src_port,
                            dest_ip: objectToSend.Dest_ip,
                            dest_port: objectToSend.Dest_port,
                            enabled: objectToSend.Enabled
                        });
                    }
                    else {
                        alert("Error when adding new rule occured");
                    }

                    $("#addRuleContainer").html("");

                    $('#addRuleModal').modal('hide');
                }
            });
        });

        function validateSrcMac(inputText) {
            const format = /^((([0-9A-F]{2}[:]){5}([0-9A-F]{2})|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))(,))*(([0-9A-F]{2}[:]){5}([0-9A-F]{2})|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))$/;
            if (inputText.match(format) != null) {
                return true;
            }
            else {
                return false;
            }
        }

        function validateSrcIpDestIp(inputText) {
            const format = /^((([0-9A-F]{2}[:]){5}([0-9A-F]{2})|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))(,))*(([0-9A-F]{2}[:]){5}([0-9A-F]{2})|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))$/;
            if (inputText.match(format) != null) {
                return true;
            }
            else {
                return false;
            }
        }

        function validateSrcPortDestPort(inputText) {
            const format = /^((([0-9A-F]{2}[:]){5}([0-9A-F]{2})|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))(,))*(([0-9A-F]{2}[:]){5}([0-9A-F]{2})|(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))$/;
            if (inputText.match(format) != null) {
                return true;
            }
            else {
                return false;
            }
        }
    });
</script>