@model Dictionary<string, string>

@Scripts.Render("~/bundles/ListJS")

@{
    ViewBag.Title = "Cconfigration";
}

<h2>Full configuration</h2>
<hr>
<div id="configurations">
    @Html.Partial("RouterPartialViews/_SelectRouter")

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th colspan="2">
                <input type="text" class="search form-control" placeholder="Search entity" />
            </th>
        </tr>
        <tr>
            <th class="sort" data-sort="key">Key</th>
            <th class="sort" data-sort="value">Value</th>
        </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="key">@item.Key</td>
                    <td class="value">@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#modalSpin').modal('hide');

    var options = {
        valueNames: ['key', 'value']
    };

    var configuration = new List('configurations', options);
</script>
