
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("SendUciShow", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Uci show" class="btn btn-default" />
        </div>
    </div>
}