@model Dictionary<string, string>

@Scripts.Render("~/bundles/ListJS")

@{
    ViewBag.Title = "SendUciShow";
}

<h2>SendUciShow</h2>
<hr>
<div id="configurations">
    @Html.Partial("PartialViews/_SelectRouter")

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th class="sort" data-sort="key">Key</th>
                <th class="sort" data-sort="value">Value</th>
                <th colspan="2">
                    <input type="text" class="search" placeholder="Search configuration" />
                </th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="key">@item.Key</td>
                    <td class="value">@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var options = {
        valueNames: ['key', 'value']
    };

    var configuration = new List('configurations', options);
</script>
